@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
body {
    background-color: #EBEBEB;
    font-size: 25px;
}
img{
    width:256px;
    height:320px;
    padding-bottom: 5px;
    
}
#me {
    width: 500px;
    height: 470px;
    display: inline-block;
    width:49%;
    padding: 20px;
}
p#title {
    margin-top: 40px;
    font-size:60px;
}
.content{
    margin-top:90px;
}
div {
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width:1024px;

}
.topnav {
    width:100%;
    opacity: 0.95;
    position: fixed;
    top:0;
    background-color: #4e514f;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #3bcc6d;
    text-align: center;
    width:20%;
    height:80px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

.topnav a:hover {
    color: white;
    background-color: #42f480;
}

.topnav a.active {
    background-color: #42f480;
    color: white;
}
